<div class='row'>
  <div class='col s10 offset-s1 m8 offset-m2 l6 offset-l3 content-wrapper shadow'>
    <div class='row inner-wrapper'>
      <%= form_for @message, multipart: true, html: { class: 'col s12 m10 offset-m1 l10 offset-l1', id: 'new-msg' } do |f| %>
        <%= render 'error_messages' if @message.errors.any? %>
        <div class='col s12'>
          <%= f.text_field :name %>
          <%= f.label :name, 'Your Name Here' %>

        </div>
        <div class='col s12'>
          <%= f.text_field :message %>
          <%= f.label :message, 'Your Birthday Wishes Here' %>

        </div>
        <%= f.file_field   :photo, id: 'hide-pic', class: 'hidden', accept: 'image/*', capture: 'camera' %>
        <%= f.file_field   :video, id: 'hide-vid', class: 'hidden', accept: 'video/*', capture: 'camcorder' %>
      <% end %>

      <div class='col s12 m10 offset-m1 l10 offset-l1 upload-buttons'>
        <a class='waves-effect button raised waves-ripple upload' id='msg-pic'>
          <i class='fa fa-camera'></i> Add Photo
        </a>
        <% if mobile_device? %>
          <a class='waves-effect button raised waves-ripple upload' id='msg-vid'>
            <i class='fa fa-video-camera'></i> Record Video
          </a>
        <% end %>
      </div>

      <div class='col s12 m10 offset-m1 l10 offset-l1 finish-buttons'>
        <a class='waves-effect button raised waves-ripple pull-right' id='msg-submit'>
          <i class='fa fa-check'></i> Finish
        </a>
        <a class='waves-effect button raised waves-ripple pull-right hidden' id='msg-loading'>
          <i class='fa fa-spin fa-spinner'></i> Processing...
        </a>
      </div>

    </div>
  </div>
</div>
